.git
.gitignore
.env
.env.*
!.env.production
*.log

node_modules/
integra-rh-manus/node_modules/
functions/node_modules/

dist/
integra-rh-manus/dist/
build/
integra-rh-manus/build/

tests/
test-results/
integra-rh-manus/test-results/

integra-rh-manus/y/
integra-rh-manus/y

